<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
<link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/flatly/bootstrap.min.css" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://momentjs.com/downloads/moment.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

  <title>Events Page</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/blog"><i class="fas fa-utensils"></i> brunch.club </i></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navb">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
                  <i class="fas fa-star-half-alt"></i> Reviews
              </a>
              <div class="dropdown-menu">
                  <a class="dropdown-item" href="/blog">see reviews</a>
                <a class="dropdown-item" href="/restaurants">add venue</a>
                <a class="dropdown-item" href="/cms">add review</a>
              </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
                  <i class="fas fa-calendar-alt"></i> Events
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/events">see events</a>
                <a class="dropdown-item" href="/newevent">add event</a>
              </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <a href="/logout"><button class="btn-danger my-2 my-sm-0" type="button">logout</button></a>
        </form>
      </div>
    </nav>
  {{{body}}}

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
</body>

</html>
