<div id="register">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <br>
                <p><h3>Register For Event</h3></p>

                
        <form class="clearfix mb-4" action="/api/register" method="POST">
          <div class="form-group">
            <label for="event-text">Name </label>
            <input type="text" id="user-name" class="form-control" aria-describedby="event-text" placeholder="Enter Restaurant/Venue">
          </div>

          <div class="form-group">
            <label for="event-text">Email </label>
            <textarea class="form-control" id="user-email" aria-describedby="event-description" placeholder="Event Theme"></textarea>
          </div>
          <button id="addNewUserBtn" class="btn btn-primary float-right">Register</button>
            </div>
        </div>

    </div>
</div>